<!-- Footer Section -->

<div class="section-divider"></div>

<div class="footer-badge">
    <a href="https://www.upwork.com/freelancers/~01d115f5b6c0828325" target="_blank">
        <img src="/assets/top-rated-badge.svg" alt="Top Rated 5 star freelancer on Upwork" width="220" height="50">
    </a>
</div>

<footer>
    &copy; <span style="margin-right: 0.5rem;">2025 Aurexion Labs</span>| <a href="pages/disclaimer.html" class="read-more" target="_blank">Full trading disclaimer</a>
    <div class="flex items-center gap-3 mt-6 text-sm text-gray-400">
</footer>